body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
  font-weight: 700;
  border-left: 4px solid blue;
}
.blue-color {
  color: blue;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
.web-top {
  display: flex;
}
.exp-button {
  background-color: blue;
  text-decoration: none;
  padding: 10px 40px;
  color: white;
  border: 1px blue;
  border-radius: 10px;
}
#mission-22 {
  border-left: none;
  text-align: center;
}
.illus-img {
  height: 40%;
  width: 30%;
}
.web-mid {
  display: flex;
  margin: 50px;
  justify-items: center;
  margin-left: 8%;
}
.mission-1 {
  background-color: lightblue;
  text-align: center;
  margin-right: 20px;
  padding: 30px 30px;
  border: 2px solid lightblue;
  border-radius: 20px;
  height: 30%;
  width: 25%;
}
.vision-1 {
  background-color: rgb(122, 216, 211);
  text-align: center;
  margin-right: 20px;
  padding: 30px 30px;
  border: 2px solid rgb(122, 216, 211);
  border-radius: 20px;
  height: 30%;
  width: 25%;
}
.goals-1 {
  background-color: rgb(147, 206, 206);
  text-align: center;
  margin-right: 20px;
  padding: 30px 30px;
  border: 2px solid rgb(147, 206, 206);
  border-radius: 20px;
  height: 30%;
  width: 25%;
}
.header {
  border-left: none;
}
.web-mid-2 {
  display: flex;
  width: 70%;
  margin-left: 10%;
  background-image: url(images/shape-1.png);
  background-repeat: no-repeat;
  background-position: left;
  background-image: 20% 30%;
}
.web-mid-2 img {
  width: 80%;
  height: 100%;
  margin-right: 40px;
}
.web-bottom {
  display: flex;
  width: 70%;
  margin-left: 8%;
  padding-top: 200px;
  background-image: url(images/shape-1.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 50% 60%;
}
.web-bottom img {
  width: 80%;
  height: 100%;
  margin-left: 30%;
}
.footer {
  text-align: center;
  margin-top: 200px;
  padding: 30px 50px;
  background-color: blue;
  color: white;
}
#year {
  color: aqua;
}
